.osc {
    margin-left: var(--base-margin-left);
    margin-right: var(--base-margin-left);

    .osc-container {
        margin-bottom: 1.125rem;
    }

    .osc-header {
        & > div {
            display: inline-block;
        }
        .osc-repo-name {
            font-size: 1.25rem;
        }
        .osc-link {
            margin-left: 0.5rem;
        }
    }

    summary {
        font-size: 0.9rem;
        padding-left: 0.3rem;
        margin-left: 0.5rem;
        border-left: 1px solid $divider-color;
    }
}
