.person-details {
    margin-left: var(--base-margin-left);
    margin-right: var(--base-margin-left);

    margin-top: 1rem;
    margin-bottom: 1rem;

    display: grid;
    grid-template-areas: "details links";

    .details {
        grid-area: details;
    }

    .links {
        grid-area: links;
        display: flex;
        flex-flow: column;

        svg {
            height: 1.3em;
            margin-bottom: -3px;
        }

        &>div:not(:last-child){
            margin-bottom: 0.4rem;
        }
    }

    .header {
        color: gray;
        font-size: 0.9rem;
        font-weight: 300;
        text-align: right;
    }
}

